<template>
<div class="flex flex-wrap w-full h-full">
  <div class="w-full lg:w-1/3 h-full bg-indigo-darker overflow-y-auto">
    <SatelliteList :fleet="fleet"/>
  </div>
  <div class="w-full lg:w-1/3 h-full overflow-y-auto">
    <div class="flex flex-col h-full border-r-2 border-r-indigo">
      <TaskForm class="flex-none"/>
      <TaskList class="flex-1" :tasks="tasks"/>
    </div>
  </div>
  <div class="w-full lg:w-1/3 h-full overflow-y-auto">
    <LogList :logs="logs"/>
  </div>
</div>
</template>
<script>
import {mapGetters} from 'vuex'
import SatelliteList from '@/components/satellites/SatelliteList'
import LogList from '@/components/logs/LogList'
import TaskForm from '@/components/tasks/TaskForm'
import TaskList from '@/components/tasks/TaskList'
export default {
  name: 'DashboardPage',
  components: {
    SatelliteList,
    LogList,
    TaskList,
    TaskForm
  },
  computed: {
    ...mapGetters({
      fleet: 'fleet',
      tasks: 'tasks',
      logs: 'logs'
    })
  },
  created () {
    this.$store.dispatch('FETCH_FLEET')
    this.$store.dispatch('FETCH_TASKS')
    this.$store.dispatch('FETCH_LOGS')
  }
}
</script>
