<template>
<div class="base-layout-column py-4">
  <div class="flex items-center justify-between px-8 py-4">
    <div class="title text-grey">
      Enqueued Tasks
    </div>
    <div class="count bg-yellow text-yellow-darkest font-mono font-bold text-sm" v-if="tasks">
      {{tasks.length}}
    </div>
  </div>
  <div class="flex flex-col justify-between px-8 py-4" v-if="status === 'loading'">
    dispatching...
  </div>
  <div class="flex flex-col justify-between px-8 py-4" v-else>
    <TaskItem
      v-for="task in tasks"
      :key="task.name"
      :task="task"/>
    <div class="flex flex-none items-center justify-between py-4" v-if="allowDispatch">
      <button class="button bg-indigo text-grey-lightest" @click="dispatchTasks">dispatch all</button>
      <button class="button" @click="clearTasks">clear tasks</button>
    </div>
  </div>
</div>
</template>
<script>
import TaskItem from './TaskItem'
export default {
  name: 'TaskList',
  components: {
    TaskItem
  },
  computed: {
    allowDispatch () {
      return this.tasks !== null && this.tasks.length > 0 && this.status !== 'loading'
    }
  },
  data () {
    return {
      status: null
    }
  },
  methods: {
    dispatchTasks () {
      this.status = 'loading'
      this.$store.dispatch('DISPATCH_ALL').then((result) => {
        this.status = null
      })
    },
    clearTasks () {
      this.$store.dispatch('CLEAR_TASKS')
    }
  },
  props: {
    tasks: {
      type: Array,
      default: null
    }
  }
}
</script>
