<template>
<div class="flex flex-col border-b">
  <div class="flex items-center justify-between px-8 py-4">
    <div class="title text-grey">
      New Task
    </div>
  </div>
  <div class="flex items-center justify-between px-8 py-4">
    <div class="flex flex-col w-full">
      <div class="inline-flex field inline">
        <label for="name">Task Name</label>
        <input v-model="name" type="text" id="taskName" name="name" placeholder="task1">
      </div>
      <div class="flex field inline">
        <label for="payoff">Payoff</label>
        <input v-model="payoff" type="number" id="payoff" name="payoff" placeholder="1">
      </div>
      <div class="flex field inline">
        <label for="resources">Resources</label>
        <input v-model="resources" type="text" id="resources" name="resources" placeholder="r1,r2,r3">
      </div>
      <div class="flex">
        <button class="button" @click="addTask">Add Task</button>
      </div>
    </div>
  </div>
</div>
</template>
<script>
export default {
  name: 'TaskForm',
  data () {
    return {
      name: null,
      payoff: null,
      resources: null
    }
  },
  methods: {
    addTask () {
      this.$store.dispatch('ADD_TASK', {
        name: this.name,
        payoff: this.payoff,
        resources: this.resources
      }).then((task) => {
        this.name = null
        this.payoff = null
        this.resources = null
      })
    }
  }
}
</script>
