<template>
<div class="flex flex-none flex-col py-4">
  <div class="flex items-center justify-between">
    <div class="task-title">{{task.name}}</div>
    <div class="count bg-grey-lighter">{{task.payoff}}</div>
  </div>
  <div class="font-mono text-xs">{{task.resources}}</div>
</div>
</template>
<script>
export default {
  name: 'TaskItem',
  props: {
    task: {
      type: Object,
      default: null
    }
  }
}
</script>
