<template>
  <div class="flex flex-col h-full">
    <div class="navbar">
      <div class="p-8 flex items-center justify-between w-full">
        <div class="brand">Satellogic Control Center</div>
      </div>
    </div>
    <router-view></router-view>
  </div>
</template>
<script>
export default {
  name: 'BaseLayout'
}
</script>
