<template>
  <BaseLayout/>
</template>
<script>
import BaseLayout from '@/components/layouts/BaseLayout'
export default {
  name: 'App',
  components: {
    BaseLayout
  }
}
</script>
<style>
@import './assets/css/styles.css'
</style>
