<template>
<div class="base-layout-column">
  <div class="flex items-center justify-between px-8 py-4">
    <div class="title text-grey">
      Terminal
    </div>
    <div class="count bg-yellow text-yellow-darkest font-mono font-bold text-sm" v-if="logs">
      {{logs.length}}
    </div>
  </div>
  <div class="flex items-center justify-between px-2 h-full py-4">
    <tree-view :class="logStyle" :style="{'height': '100%'}" :data="logs" rootObjectKey="logs"/>
  </div>
</div>
</template>
<script>
export default {
  name: 'LogList',
  data () {
    return {
      style: 'monokai'
    }
  },
  computed: {
    logStyle () {
      if (this.style === 'monokai') {
        return 'monokai'
      }
    }
  },
  props: {
    logs: {
      type: Array,
      default () {
        return []
      }
    }
  }
}
</script>
