<template>
<div class="base-layout-column h-full">
  <div class="flex items-center justify-between px-8 py-4">
    <div class="title text-grey-light">
      Fleet
    </div>
    <div class="count bg-yellow text-yellow-darkest font-mono font-bold text-sm" v-if="fleet">
      {{fleet.length}}
    </div>
  </div>
  <div class="flex flex-col justify-between px-8">
    <SatelliteItem
      v-for="satellite in fleet"
      :key="satellite.name"
      :satellite="satellite"/>
  </div>
</div>
</template>
<script>
import SatelliteItem from './SatelliteItem'
export default {
  name: 'SatelliteList',
  components: {
    SatelliteItem
  },
  props: {
    fleet: {
      type: Array,
      default () {
        return [
          {name: 'SAT1', port: '5001'},
          {name: 'SAT2', port: '5002'},
          {name: 'SAT3', port: '5003'}
        ]
      }
    }
  }
}
</script>
