<template>
<div class="flex items-center justify-between py-4">
  <div class="satellite-title">
    {{satelliteName}}
  </div>
</div>
</template>
<script>
import SatelliteMixIn from './SatelliteMixIn'
export default {
  name: 'SatelliteItem',
  mixins: [SatelliteMixIn],
  props: {
    satellite: {
      type: Object,
      default: null
    }
  }
}
</script>
