@tailwind preflight;
@tailwind components;

html,body {
  @apply .w-full .h-full;
  @apply .overflow-hidden;
}

* {
  @apply .font-sans;
}

.navbar {
  @apply .w-full;
  @apply .h-16;
  @apply .flex;
  @apply .bg-indigo-darkest;
  @apply .shadow;
}

.brand {
  @apply .font-bold;
  @apply .text-indigo-lighter;
  @apply .text-2xl;
}

.title {
  @apply .font-bold;
  @apply .text-xl;
}

.satellite-title {
  @apply .font-bold;
  @apply .font-mono;
  @apply .text-indigo-lighter;
}

.task-title {
  @apply .font-mono;
  @apply .text-indigo-light;
}

.count {
  @apply .flex .items-center .justify-center;
  @apply .rounded-full;
  @apply .p-2 .h-6 .w-6;
}

.field {
  @apply .py-4;
}

.field.inline {
  @apply .items-center;
}

.field input:focus {
  @apply .bg-indigo-lightest;
}

.field.inline input {
  @apply .w-3/5;
  @apply .mx-auto;
}

.field.inline label {
  @apply .w-1/5;
  @apply .text-sm .text-grey-dark;
  @apply .font-bold;
  @apply .uppercase;
  @apply .tracking-wide;
}

.field input {
  @apply .bg-grey-lighter;
  @apply .border;
  @apply .rounded;
  @apply .py-1 px-2;
  @apply .font-mono;
  @apply .shadow;
}

.button {
  @apply .p-2;
  @apply .rounded-lg;
  @apply .shadow;
  @apply .border-2;
  @apply .uppercase .text-xs .font-bold;
  @apply .bg-grey-lighter;
}

.base-layout-column {
  @apply .flex .flex-col;
}

.tree-view-wrapper * {
  @apply .tracking-wide;
  @apply .font-mono !important;
}

.tree-view-item-hint {
  @apply .text-grey-darker;
  @apply .italic;
}

.tree-view-item-value-string {
  @apply .text-green-dark;
  @apply .font-bold;
}

.tree-view-item-value-number {
  @apply .text-red-dark;
  @apply .font-bold;
}

.tree-view-item-value-boolean {
  @apply .text-purple;
  @apply .font-bold;
}

.tree-view-item-value-null {
  @apply .text-orange-dark;
  @apply .font-bold;
}

@tailwind utilities;